body {
  background-color: #a0acad;
  font-family: "Nunito", sans-serif;
}

.blurb h2 {
  color: #941c94;
  font-weight: 100;
  font-size: 2.5rem;
}

.content {
  margin-top: 100px;
}

.blurb p {
  color: #a1dbba;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #941c94;
}

#mainNavbar .navbar-brand {
  color: #941c94;
}

#headingGroup span {
  color: #941c94;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}

.navbar.scrolled {
  background-color: #030103;
  transition: background 300ms;
}

@media (max-width: 1400px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
  }
}
